* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

/* Header */

.logo {
  background-color: black;
  padding: 0.6rem;
}

.logo img {
  width: 6rem;
}

/* Title, bonuses and image background  */

.title-number-bonuses {
  background-image: url('images/casino.jpg');
  background-repeat: no-repeat;
  object-fit: cover;
  height: 25.05rem;
}

.title {
  color: white;
  font-size: 1.5rem;
  padding: 3rem 1rem;
  padding-left: 2rem;
}

.number-bonuses {
  color: white;
  background-color: rgba(0, 0, 0, 0.479);
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 1.2rem 0;
  padding-left: 2rem;
}

/* Game Cards */

.games-cards-containers {
  margin: 0 auto;
  max-width: 30rem;
  height: 10rem;
  margin-top: -3rem;
}

.game-card {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.game-attribute {
  margin-left: auto;
  width: fit-content;
  background-color: rgb(71, 196, 54);
  padding: 0.5rem;
  border-top-right-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.game-image-name-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.game-image {
  margin-left: 0.5rem;
}

.game-image img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid green;
}

.game-name-bonus {
  text-align: center;
}

.game-name-bonus p {
  width: 10rem;
  margin-top: 0.6rem;
}

.stars-play-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.stars-play-button img {
  width: 6rem;
}

.get-data {
  border: none;
  width: 8rem;
  height: 2.3rem;
  background-color: rgb(21, 184, 7);
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

@media (max-width: 29.12em) {
  .title {
    padding: 1rem;
  }

  .number-bonuses {
    margin-top: 0rem;
  }
}

@media (max-width: 23.75em) {
  .get-data {
    max-width: 6rem;
  }

  .game-name-bonus {
    font-size: 0.9rem;
  }

  .game-name-bonus p {
    width: 7rem;
  }

  .title {
    padding: 0.5rem;
    font-size: 1.3rem;
  }

  .number-bonuses {
    margin-top: 0rem;
  }
}
